<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

    <style>
        table {
            width: auto;
        }
        
        table,
        th,
        td {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div ng-app="myApp" ng-controller="myController">
        <h2>Demo</h2>
        <label>Enter your word: </label> <input type="text" ng-model="term" />
        <p>..</p>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
            </tr>

            <tr ng-repeat="b in list | filter:term">
                <td>{{b.id}}</td>
                <td>{{b.name}}</td>
                <td>{{b.email}}</td>
                <td>{{b.username}}</td>
            </tr>
        </table>
    </div>
</body>

<!--The Controller-->
<script>
    var app = angular.module('myApp', []);
    app.controller('myController',
        function($scope, $http) {


            $scope.arr = new Array;

            $http.get('http://localhost:7878/mydata')
                .then(function(response) {
                    $scope.arr = response.data;
                    $scope.list = $scope.arr;
                }, function() {
                    //when error is there
                })
        });
</script>

</html>


<!--  $http.get('url').then(function(response){},function(){})  -->
<!--  $http.post('url',inputdata, config).then(function(response){},function(){})  -->