

    <!doctype html>
    <html >
      <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
      </head>
      <body>
        <div ng-app>
          <div ng-init="a=10;b=2;name='atul';fruits=['orange','mango','apple','banana'];
          emp={'empid':1,'ename':'abcd','salary':99000};emps=[{'empid':1,'ename':'abcd','salary':99000},
          {'empid':3,'ename':'tuvw','salary':89000},{'empid':5,'ename':'ijkl','salary':77000}];">
            <h3>Angular Expression {{}}</h3>
           <p>{{"hello world"+ ":"+15}}</p> 
            
            <p>Value of a:{{a}}</p>
            <p>Value of b:{{b}}</p>
            <p>Value of name:{{name}}</p>
            <input type="text" ng-model="myvar" />
            <p>This is expression:{{myvar}}</p>
            <p ng-bind="a"></p>
            <p >this is ng-bind output: <span ng-bind="myvar"></span></p>
            <p>{{fruits}}</p>
        <button class="btn btn-warning">Ok</button>

            
            <p>{{emp.ename+" : "+emp.salary}}</p>
            <table class="table table-bordered table-hover" >
              <tr ng-repeat="e in emps">
                <td>{{e.empid}}</td>
                <td>{{e.ename}}</td>
                <td>{{e.salary}}</td>
              </tr>
            </table>

           
        </div>
        </div>
      </body>
    </html>

